<h2 id="title">Ember Layout</h2>

{{#demo-well}}
  {{#el-layout elLayout='horizontal'}}
    {{demo-cell value="One"}}
    {{demo-cell value="Two"}}
    {{demo-cell value="Three"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal'}}
    {{demo-cell value="Alpha"}}
    {{demo-cell value="Beta (flex)" elFlex=1}}
    {{demo-cell value="Gamma"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well setHeight=true}}
  {{#el-layout elLayout='vertical' elFit=true}}
    {{demo-cell value="Alpha"}}
    {{demo-cell value="Beta" elFlex=1}}
    {{demo-cell value="Gamma"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal'}}
    {{demo-cell value="Alpha" elFlex=3}}
    {{demo-cell value="Beta" elFlex=1}}
    {{demo-cell value="Gamma" elFlex=2}}
  {{/el-layout}}
{{/demo-well}}

<h3>Alignment</h3>

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elAlign='stretch'}}
    {{demo-cell value="Stretch"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elAlign='center'}}
    {{demo-cell value="Center"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elAlign='start'}}
    {{demo-cell value="Start"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elAlign='end'}}
    {{demo-cell value="End"}}
  {{/el-layout}}
{{/demo-well}}

<h3>Justification</h3>

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elJustify='start'}}
    {{demo-cell value="Start"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elJustify='end'}}
    {{demo-cell value="End"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elJustify='center'}}
    {{demo-cell value="Center"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elJustify='end'}}
    {{demo-cell value="End"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elJustify='between'}}
    {{demo-cell value="Between"}}
    {{demo-cell value="Between"}}
  {{/el-layout}}
{{/demo-well}}

{{#demo-well}}
  {{#el-layout elLayout='horizontal' elJustify='around'}}
    {{demo-cell value="Around"}}
    {{demo-cell value="Around"}}
  {{/el-layout}}
{{/demo-well}}
